
a {
    text-decoration: underline;
    color: white;
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #ddd;
}


section {
    padding:0 15% 0 15%;
}

body {
    font-family: 'Arial', 'Sans-Serif';
    background:black;
    color:white;
    margin: 60px auto;
}

h1,h2,h3,h4,h5,h6 {
    font-family:Verdana,Geneva,Tahoma,sans-serif;;
    font-style: italic;
}




h2 {
    font-size: 48px;
}

.project.ll {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/2016home-cover-FINAL.jpg') center center no-repeat #000;
    background-size: cover;
    -webkit-background-size: cover;
    border-top:2px solid white;
    border-bottom:2px solid white;
}
